<div class="top-bar">
    <div class="container top-bar-inner">
      <a href="index.html" class="logo">
        <img src="images/logo_rond.png" alt="Le Cha'Telier Créatif" />
      </a>
      <div class="social-icons">
      <a href="https://www.instagram.com/chatelier.creatif/" target="_blank"><img src="images/instagram.png" alt="Instagram"></a>
      <a href="https://fr.pinterest.com/lechateliercreatif/" target="_blank"><img src="images/pinterest.png" alt="Pinterest"></a>
      <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
      <a href="https://www.etsy.com/fr/shop/LeChaTelierCreatif" target="_blank"><img src="images/etsy.png" alt="Etsy"></a>
    </div>
    </div>
  </div>
